body {
    padding-top: 0;
    background-color: #f1d22a;
}

.hero-image {
    background: url('../assets/andersonville-hero.jpg') center center;
    background-size: cover;
    height: 350px;
    margin-bottom: 3rem;
}

#sign-in {
    margin-top: 2rem;
}

label {
    font-weight: bold;
    color: #1e5abe;
}

#sign-in button {
    margin-bottom: 5rem;
}