#user-info-container {
    width: 100%;
    padding: .5em 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

#user-info-container h2,
#user-info-container ul {
    margin: 0;
}

#user-info-container ul li {
    display: inline-block;
    margin: 20px;
}
